/* HOMEPAGE */

html, body {
    background-color: #FBF9AA;
    margin: 0%;
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
}

#header-box {
    display: flex;
    background-color: #252323;
    width: 100%;
    height: 425px;
    text-align: left;
    
}

.nav-box {
    display: flex;
}

#header-img {
    width: 70%;
    height: auto;
    margin-top: -3.5%;
    background-image: url("assets/pictures/bilde.png");   
}

.vertical-text-box {
    overflow: hidden;
}

.vertical-text {
    color: #FFFFFF;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    word-wrap: break-word;
    font-size: 22px;
    padding: 22%;
}

.orange-text {
    color: #D49E52;
}

.nav-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-text-box {
    margin-bottom: 3.5%;
}

.nav-text-box > p {
    color: #FFFFFF;
    font-weight: bold;
    padding: 33%;
    margin-left: -15%;
}

.btn-box {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.gallery-box {
    color: #FFFFFF;
    margin: 0% 10% 4% 10%;
}

.feedback-box {
    color: #FFFFFF;
    margin: 0% 10% 4% 10%;
}

#gallery-btn {
    background-color: #D49E52;
    display: flex;
    justify-content: center;
    margin-right: -25%;
    margin-left: -25%;
    border-radius: 16px;

}

#feedback-btn {
    background-color: #D49E52;
    display: flex;
    justify-content: center;
    margin-right: -10%;
    margin-left: -10%;
    border-radius: 16px;
    
}

.icons {
    margin: 5%;
}

.first-text > p {

    font-size: 18px;
    margin: 3% 15% 3% 4%;
}

#text-container {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 10%;
}

.service-img > img {
    max-width: 100%;
    width: 75%;
    height: auto;
}

.service-text {
    margin: -1.8% 7% 0% -12%;
    font-size: 15px;
}


.notice-text {
    margin-top: 4%;
    margin-left: -6%
}

#order-btn {
    background-color: #252323;
    color: #FFFFFF;
    border: none;
    padding: 1.5%;
    font-weight: bold;
    border-radius: 16px;
    text-decoration: none;
    position: absolute;
    margin-left: 38%;
}



/* BOOKING PAGE */

.booking-nav {
    display: flex;
    align-items: center;
    padding: 1% 1% 0% 5%;
}

.booking-text {
    font-size: 40px;
    text-align: center;
}

#booking-container {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin: 3% 5%;
}

.workshop-container {
    background-color: #252323;
    display: block;
    padding: 2%;
    height: 456px;
    width: 100%;
}

#workshops {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.time-choice {
    display: flex;
    flex-direction: row;
}

.time-one, .time-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-one {
    margin-right: 3%;
}

.time-btn {
    background-color: #D49E52;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    outline: #252323;
}

#purchase-btn {
    margin-top: 4%;
    margin-left: 85%;
    margin-right: 0%;
    font-weight: bold;
    background-color: #D49E52;
    padding: 1%;
    border: none;
}


/* FEEDBACK PAGE */

.feedback-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1% 1% 0% 5%;
}

#questions-container {
    background-color: #252323;
    display: flex;
    max-width: 100%;
    margin: 2% 15%;
    padding: 2%; 
    border-radius: 16px;
}

.questions {
    color: #FFFFFF;
}

.question-text {
    margin-top: -3%;
}

.answer {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: 5%;
}

.answer > button {
    background-color: #252323;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    width: 15.5%;
    margin: 40% 0% 0.5% 84%;
}

.previous-text {
    text-align: center;
}

#previous-feedback {
    display: flex;
    margin: 2%;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    align-content: center;
}

.feedback-one {
    background-color: #E3AB31;
    width: 33.33%;
    height: 300px;
    margin-right: 1%;
    padding: 3%;
    border-radius: 16px;

}

.feedback-two {
    background-color: #D08255;
    width: 33.33%;
    height: 300px;
    margin-right: 1%;
    padding: 3%;
    border-radius: 16px;
}

.feedback-three {
    background-color: #AB694D;
    width: 33.33%;
    height: 300px;
    padding: 3%;
    border-radius: 16px;
}


/* GALLERY PAGE */

.gallery-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1% 1% 0% 5%;
}

.gallery-text {
    text-align: center;
}

#gallery {
    
    
}

.flexgallery-one {
    display: flex;
    min-width: 100%;
    max-width: 33.33%;
    padding: 2%;
}

.flexgallery-two {
    display: flex;
}





    