/* HOMEPAGE */

/* Background color, margin and font-family for all pages. */
html, body {
    background-color: #FBF9AA;
    margin: 0%;
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
}

/* Making the header-box flex nav-box and header-img, + background color, size and text alignment. */ 
#header-box {
    display: flex;
    background-color: #252323;
    width: 100%;
    height: 425px;
    text-align: left;
    
}

/* Makeing the nav-box flex its items */
.nav-box {
    display: flex;
}

/* Header img + size. */ 
#header-img {
    width: 70%;
    height: auto;
    margin-top: -3.5%;
    background-image: url("assets/pictures/bilde.png");   
}

/* vertical-text-box have overflow hidden so no items around it goes inside it*/
.vertical-text-box {
    overflow: hidden;
}

/* Makeing the h1 flow vertical + size and color. */
.vertical-text {
    color: #FFFFFF;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    word-wrap: break-word;
    font-size: 22px;
    padding: 22%;
}

/* Makeing text with this class orange. */
.orange-text {
    color: #D49E52;
}

/* Flexing items inside nav-box2, and makeing content and items flex-end */
.nav-box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Makeing nav text2 have a margin bottom ? add it under here?*/
.nav-text-box {
    margin-bottom: 3.5%;
}
/* Nav-text-box p tag with margin, padding, font weight and color*/
.nav-text-box > p {
    color: #FFFFFF;
    font-weight: bold;
    padding: 33%;
    margin-left: -15%;
}

/* Makeing items inside btn-box flex, and justify its content flex end and font weight*/
.btn-box {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/* Make same class for this two? margin and color inside is the same */ 
.gallery-box {
    color: #FFFFFF;
    margin: 0% 10% 4% 10%;
}

.feedback-box {
    color: #FFFFFF;
    margin: 0% 10% 4% 10%;
}

/* Gallery and feedback btn adjustments they have the same */ 
#gallery-btn {
    background-color: #D49E52;
    display: flex;
    justify-content: center;
    margin-right: -25%;
    margin-left: -25%; 
    border-radius: 16px;
}

#feedback-btn {
    background-color: #D49E52;
    display: flex;
    justify-content: center;
    margin-right: -10%;
    margin-left: -10%;
    border-radius: 16px; 
}

/* Gallery and feedback btns a tag adjustments - same for both */
#gallery-btn > a {
    text-decoration: none;
    color: #FFFFFF;
}

#feedback-btn > a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Where is this class? */
.icons {
    margin: 5%;
}

/* text adjustmens for p tag inside this class*/
.first-text > p {

    font-size: 18px;
    margin: 3% 15% 3% 4%;
}

/* text conteiner adjustments */
#text-container {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    margin-right: 10%;
}

/* service-img adjustments */
.service-img > img {
    max-width: 100%;
    width: 75%;
    height: auto;
}

/* service-text adjustments */
.service-text {
    margin: -1.8% 7% 0% -12%;
    font-size: 15px;
}

/* notice-text adjustments*/
.notice-text {
    margin-top: 4%;
    margin-left: -6%
}

/* order-btn adjustments */
#order-btn {
    background-color: #252323;
    color: #FFFFFF;
    border: none;
    padding: 1.5%;
    font-weight: bold;
    border-radius: 16px;
    text-decoration: none;
    position: absolute;
    margin-left: 38%;
}

/* footer adjusments for all pages */
footer {
    display: flex;
    justify-content: flex-end;
    margin: 5% 6%;
}



/* BOOKING PAGE */

/* booking nav adjustments */
.booking-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1% 1% 0% 5%;
}

/* booking nav's,  a tag adjustments */
.booking-nav > a {
    text-decoration: none;
    color: #000000;
}

.booking-text {
    font-size: 40px;
    text-align: center;
}
/* everything insinde workshop container and google calandar */
#booking-container {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    margin: 3% 5%;
}

/* Everything inside workshop container adjustments */
.workshop-container {
    background-color: #252323;
    display: block;
    font-size: 14px;
    padding: 2%;
    height: 456px;
    width: 100%;
}

/* All workshops adjustments */
#workshops {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.time-choice {
    display: flex;
    flex-direction: row;
}

.time-one, .time-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* margin on time one so its space between time one and time two */
.time-one {
    margin-right: 3%;
}

/* choose time btn */
.time-btn {
    background-color: #D49E52;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    outline: #252323;
}

/* purchase btn adjustments */
#purchase-btn {
    margin-top: 4%;
    margin-left: 85%;
    margin-right: 0%;
    font-weight: bold;
    background-color: #D49E52;
    padding: 1%;
    border: none;
}



/* FEEDBACK PAGE */

/* Feedback-nav adjustments*/
.feedback-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1% 1% 0% 5%;
}

/* Feedback-nav a tag adjustments */
.feedback-nav > a {
    text-decoration: none;
    color: #000000;
}

/* questions-container adjustments */
#questions-container {
    background-color: #252323;
    display: flex;
    max-width: 100%;
    margin: 2% 15%;
    padding: 2%; 
    border-radius: 16px;
}

/* This inside .questions-text ? */
.questions {
    color: #FFFFFF;
}
/* Adjustments made for question-text */
.question-text {
    margin-top: -3%;
}

/* answer adjustments */
.answer {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: 5%;
}

/* button inside answer adjustments */
.answer > button {
    background-color: #252323;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    width: 15.5%;
    margin: 40% 0% 0.5% 84%;
}

/* h2 adjustments */ 
.previous-text {
    text-align: center;
}

/* previous-feedback adjustments */
#previous-feedback {
    display: flex;
    margin: 2%;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    align-content: center;
}
/* feedback one,two and three adjustments. Maybe give them the same class? */
.feedback-one {
    background-color: #E3AB31;
    width: 33.33%;
    height: 350px;
    margin-right: 1%;
    padding: 3%;
    border-radius: 16px;

}

.feedback-two {
    background-color: #D08255;
    width: 33.33%;
    height: 350px;
    margin-right: 1%;
    padding: 3%;
    border-radius: 16px;
}

.feedback-three {
    background-color: #AB694D;
    width: 33.33%;
    height: 350px;
    padding: 3%;
    border-radius: 16px;
}



/* GALLERY PAGE */

/* gallery-nav adjustments */
.gallery-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 1% 1% 0% 5%;
}

/* gallery-nav a tag adjustments */
.gallery-nav > a {
    text-decoration: none;
    color: #000000;
}

/* gallery-text adjustments*/
.gallery-text {
    text-align: center;
    font-size: 40px;
}
/* makeing grid-container (img) grid + other adjustments */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 3%;
    padding: 5%;
}

/* grid size (img) */
.grid {
    width: 100%;
    height: 275px;
    transition: transform 0.3s ease;
}

/* hover transforming adjusmenst inside the grid class */
.grid:hover { 
    transform: scale(1.1);
}

/* arrows adjustments */
.arrows {
    display: flex;
    justify-content: space-between;
    margin: 0% 2%;
}